<div class="jumbotron" id ="candidate_header">
{{#each user_info}}
<div class="row" id="myrow">
  <div class="col-md-5" id = "profile_image_section">
       <img class="img" src = '{{profile_image_link}}' id ="profile_image" />
  </div>




  <div class="col-md-7" id ="profile_info_section">
    <i class="fa fa-pencil-square-o edit_profile fa-2x" id ="{{_id}}" aria-hidden="true"></i>


      <p id ="heading">{{companyname}}</p>
        <p><span><b>Location: </b></span><text class ="info"> {{location}} </text></p>
        <p><text><b>Employees: </b></text><text class ="info"> {{employees}} </text></p>
        <p><text><b>Email: </b></text><text class ="info"> {{email}} </text></p>
          <p><text>{{biodescription}}</text></p>


    </div>
    <div class="social-icons">
                 <a href="{{twitter}}" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                 <a href="{{facebook}}" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                 <a href="{{instagram}}" class="btn btn-round btn-clear btn-instagram"><i class="fa fa-instagram"></i></a>
                 <a href="{{linkedin}}" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                 <a href="{{google}}" class="btn btn-round btn-clear btn-google"><i class="fa fa-google-plus"></i></a>

             </div>

  </div>


  <div class="row" id = "second_row">
    <div class="col-md-6" id = "experience">



<div class="container-fluid" id ="images">
  <a href =# id ="addImages" data-toggle="modal" data-target="#imageModal"> +</a>

  <div class="row">

    {{#each images}}


      <!-- column -->
      <div class="col-xs-4 col-sm-5cols">
        <div class="thumbnail">
          <img src="{{one}}">
        </div>
      </div>

  <!-- column -->
      <div class="col-xs-4 col-sm-5cols">
        <div class="thumbnail">
          <img src="{{two}}">
        </div>
      </div>

      <!-- column -->
      <div class="col-xs-4 col-sm-5cols">
        <div class="thumbnail">
          <img src="{{one}}">
        </div>
      </div>


      <!-- column -->
      <div class="col-xs-4 col-sm-5cols">
        <div class="thumbnail">
          <img src="{{four}}">
        </div>
      </div>


      <!-- column -->
      <div class="col-xs-4 col-sm-5cols">
        <div class="thumbnail">
          <img src="{{five}}">
        </div>
      </div>


      <!-- column -->
      <div class="col-xs-4 col-sm-5cols">
        <div class="thumbnail">
          <img src="{{six}}">
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>




      <div class="col-md-6" id ="video_content">
      <iframe width="560" height="315"; src= "{{video_url}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>


    <section id="page-experience" class="page-experience">

        <div class="container">
            <header class="section-header">
                <h2 class="section-title"><span>Positions</span></h2>
                 <button type="button" id ="new_position" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new position</button>
                <div class="spacer"></div>
            </header>
            <div class = "wrapper">
            {{#each position}}

            <div class="bs-callout bs-callout-danger" id ="{{_id}}"><div id ="crud_links"><i class="fa fa-pencil-square-o updateClass fa-2x" data-id="{{_id}}"  id ="{{_id}}+{{title}}+{{location}}+{{term}}+{{start}}+{{description}}" aria-hidden="true"></i><i id ="{{_id}}" class='fa fa-trash positionTrash fa-2x' data-id="{{_id}}" data-toggle='modal' data-target='#deleteModal' aria-hidden='true'></i> </div>
            <!--  <h3> {{_id}}</h3>-->
              <h4 id ="h4">{{title}}</h4>

              <p id ="location">{{location}}</p>
              <p><strong>Start:</strong> <text id ="start">{{start}}</text> / <strong>Term: </strong> <text id ="term">{{term}}</text> months</p>
              <p id ="description">{{description}}</p>
              <button  id ="{{_id}}" class="view_applied" data-toggle="modal" data-target="#appliedModal" > Applied Candidates</button>
              <button  id ="{{index_number}}" class="view_match" data-toggle="modal" data-target="#matchModal" > Matched Candidate</button>

             </div>
             {{/each}}
             {{/each}}

            </div>
            </div>
        </div>
    </section>
        <!-- experience ends -->

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Position Information</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">


<!-- Form Name -->

<form method="post" action="addPosition" method="post" id="addPosition">
<!-- Text input-->



<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Position*</label>
  <div class="col-md-6">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="selected5">Position</span><span class="caret"></span></a>
        <ul required class="dropdown-menu"  id ="menu5">
          {{#each positions}}
          <li><a href="#" id ="positiondrop">{{title}}</a></li>
        {{/each}}
        </ul>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Location*</label>
  <div class="col-md-6">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="selected2">Location</span><span class="caret"></span></a>
        <ul required class="dropdown-menu"  id ="menu2">
          {{#each locations}}
          <li><a href="#" id ="locationdrop">{{name}}</a></li>
        {{/each}}
        </ul>
    </div>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Start*</label>
  <div class="dropdown col-md-2">
    <button class="btn btn-secondary dropdown-toggle col-md-12" type="button" id ="dayStartPosition" data-toggle="dropdown">
      <span id="positionStartDay">Day</span><span class="caret"></span></button>
    <ul class="dropdown-menu" id="dayMenuStartPosition" role="menu" aria-labelledby="menu1">

    </ul>

  </div>
  <div class="dropdown col-md-2">
    <button class="btn btn-secondary dropdown-toggle col-md-12" type="button" id="monthStartPosition" data-toggle="dropdown">
      <span id="selectedMonthStartPosition">Month</span><span class="caret"></span></button>

    <ul class="dropdown-menu" role="menu" id ="monthMenuStartPosition" aria-labelledby="menu1">
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">January</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">February</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">March</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">April</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">May</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">June</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">July</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">August</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">September</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">October</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">November</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">December</a></li>

   </ul>
  </div>
  <div class="dropdown col-md-2">
    <button class="btn btn-secondary dropdown-toggle col-md-12" type="button" id = "positionYearEnd"  data-toggle="dropdown">
      <span id="positionSelectedYearEnd">Year</span><span class="caret"></span></button>
    <ul class="dropdown-menu" id="yearMenuEndPosition" role="menu" aria-labelledby="yearMenu">
      <li><a>2017</a></li>
      <li><a>2018</a></li>
   </ul>
  </div>



</div>





<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Term*</label>
  <div class="col-md-6">
  <input id="term" required name="textinput" type="number" placeholder="Length of term in months" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Description</label>
  <div class="col-md-6">
    <textarea class="form-control" id="description" placeholder="Description of position"  name="textarea"></textarea>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Teamwork*</label>
  <div class="col-md-6">
  <input id="teamwork" required name="textinput" type="number" placeholder="Teamwork" class="form-control input-md">

  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Communication*</label>
  <div class="col-md-6">
  <input id="communication" required name="textinput" type="number" placeholder="Communication" class="form-control input-md">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Initiative*</label>
  <div class="col-md-6">
  <input id="initiative" required name="textinput" type="number" placeholder="Initiative" class="form-control input-md">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Technical skills*</label>
  <div class="col-md-6">
  <input id="technical_skills" required name="textinput" type="number" placeholder="Technical Skills" class="form-control input-md">
  </div>
</div>
</fieldset>
<input type="button" value="Create" id ="submitPosition" />
</form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="modal fade" id="deleteModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Delete Position</h4>
            </div>
            <div class="modal-body">

        <p> Are you sure you want to delete this position?</p>
      <p id ="this_id"></p>
    </div>
    <div class="modal-footer">
      <button type="button" id ="deletePositionButton" class="btn btn-default" >Yes</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
    </div>
</div>
</div>
</div>


    <div class="modal fade" id="updateModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Update Position Information</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">


  <!-- Form Name -->

  <form method="post" action="updatePosition" method="post" id="updatePosition">
  <!-- Text input-->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Title</label>
  <div class="col-md-6">
  <input id="title1" required name="title1" type="text" placeholder="Position Title" class="form-control input-md">

  </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Location</label>
  <div class="col-md-6">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" name ="location1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="selected2">Location</span><span class="caret"></span></a>
      <ul class="dropdown-menu"  id ="menu2">
        {{#each locations}}
        <li><a href="#">{{name}}</a></li>
      {{/each}}
      </ul>
  </div>
  </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Start</label>
  <div class="col-md-6">
  <input id="start1" required name="start1" type="text" placeholder="Start date of position" class="form-control input-md">

  </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Term</label>
  <div class="col-md-6">
  <input id="term1" required name="term1" type="number" placeholder="Length of term in months" class="form-control input-md">

  </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Description</label>
  <div class="col-md-6">
  <textarea class="form-control" id="description1" placeholder="Description of position"  name="description1"></textarea>
  </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Teamwork*</label>
    <div class="col-md-6">
    <input id="teamwork1" required name="teamwork1" type="number" placeholder="Teamwork" class="form-control input-md">

    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Communication*</label>
    <div class="col-md-6">
    <input id="communication1" required name="communication1" type="number" placeholder="Communication" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Initiative*</label>
    <div class="col-md-6">
    <input id="initiative1" required name="initiative1" type="number" placeholder="Initiative" class="form-control input-md">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Technical skills*</label>
    <div class="col-md-6">
    <input id="technical_skills1" required name="technical_skills1" type="number" placeholder="Technical Skills" class="form-control input-md">
    </div>
  </div>

  </fieldset>
  <input type="button" value="Create" id ="updatePosition" />
  </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>





<!-- EDIT POSITION -->
    <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Update Position Information</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
<fieldset>



<form method="post" action="editPosition" method="post" id="editPosition">
<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Title</label>
<div class="col-md-6">
<input id="title" name="textinput" type="text" placeholder="Position Title" class="form-control input-md">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Location</label>
<div class="col-md-6">
<input id="location" name="textinput" type="text" placeholder="Position Location" class="form-control input-md">

</div>
</div>

<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Term</label>
<div class="col-md-6">
<input id="term1" name="textinput" type="number" placeholder="Length of term in months" class="form-control input-md">

</div>
</div>

<!-- Textarea -->
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Description</label>
<div class="col-md-6">
  <textarea required class="form-control" id="description" placeholder="Description of position"  name="textarea"></textarea>
</div>
</div>

</fieldset>
<input type="button" value="Create Position" id ="submitPosition" />
</form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>




  </div>

  </div>
</div>
</div>

<div class="modal fade" id="appliedModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4 class="modal-title">Applied Candidates</h4>
      </div>
      <div class="modal-body" id ="buttonBody">

      <button id='rank_candidates' class = "buttonGroup" value='rank'>Rank</button>
      <button id='save_preference' class = "buttonGroup"  value='save'>Save Preference</button>
</div>
      <div class="modal-body" id ="modalBody">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="matchModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4 class="modal-title">Matched candidate for this position</h4>
      </div>

      <div class="modal-body" id ="modalBodyMatch">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="confirmModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body" id ="modalBody">

        <p class ="added">Position added</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="candidate_profile_modal" role="dialog">
  <div class="modal-dialog" id ="modal-dialog-candidate" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <div id ="modalBodyCandidate">
      </div>
      <div id ="modalBodyCandidate2">
      </div>
      <div id ="modalBodyCandidate3">
      </div>
      <div id ="modalBodyCandidate4">
      </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
  </div>
</div>














<div class="modal fade" id="editProfileModalEmployer" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4 class="modal-title">Update Profile Information</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">


<form method="post"  method="post" id="update_profile">
<div class="col-md-6">
  <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Company Name</label>
  <div class="col-md-8">
  <input id="companyname" required name="textinput" type="text" placeholder="Name" class="form-control input-md">

  </div>
  </div>
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Location</label>
<div class="col-md-8">
<input id="location" required name="textinput" type="text" placeholder="Location" class="form-control input-md">

</div>
</div>

<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Employees</label>
<div class="col-md-8">
<input id="employees" required name="textinput" type="number" placeholder="Number of employees in the company" class="form-control input-md">

</div>
</div>
<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="textinput">Email</label>
<div class="col-md-8">
<input id="email1" required name="textinput" type="email" placeholder="Email Address" class="form-control input-md">

</div>
</div>


<!-- Textarea -->
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Description</label>
<div class="col-md-8">
<textarea required class="form-control" rows="6" id="biodescription" placeholder="Description of Company"  name="textarea"></textarea>
</div>
</div>



</div>



<div class="col-md-6">
  <!-- Textarea -->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Twitter</label>
  <div class="col-md-8">
  <input class="form-control" id="twitter" placeholder="Twitter Link"  name="textinput"></input>
  </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Facebook</label>
  <div class="col-md-8">
  <input class="form-control" id="facebook" placeholder="Facebook Link"  name="textinput"></input>
  </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Instagram</label>
  <div class="col-md-8">
  <input class="form-control" id="instagram" placeholder="Instagram Link"  name="textinput"></input>
  </div>
  </div>
  <!-- Textarea -->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">LinkedIn</label>
  <div class="col-md-8">
  <input class="form-control" id="linkedin" placeholder="LinkedIn Link"  name="textinput"></input>
  </div>
  </div>
  <!-- Textarea -->
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Google Plus</label>
  <div class="col-md-8">
  <input class="form-control" id="google" placeholder="Google+ Link"  name="textinput"></input>
  </div>
  </div>
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Profile Image</label>
  <div class="col-md-8">
  <input class="form-control" id="profile_image_link" placeholder="Profile Image URL"  name="textinput"></input>
  </div>
  </div>
  <div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Video Link</label>
  <div class="col-md-8">
  <input class="form-control" id="video_link" placeholder="Video URL"  name="textinput"></input>
  </div>
  </div>

</div>
</fieldset>
<input type="button" value="Update Profile" class ="defaultClass" id ="updateEmployerProfile" />
</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>

<div class="modal fade" id="imageModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4 class="modal-title">Add Images</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">


<form method="post"  method="post" id="addImages">
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Image 1</label>
<div class="col-md-6">
<input class="form-control" id="imageOne" placeholder="Image 1 URL"  name="textinput"></input>
</div>
</div>

<!-- Textarea -->
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Image 2</label>
<div class="col-md-6">

<input class="form-control" id="imageTwo" placeholder="Image 2 URL"  name="textinput"></input>
</div>
</div>
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Image 3</label>
<div class="col-md-6">

<input class="form-control" id="imageThree" placeholder="Image 3 URL"  name="textinput"></input>
</div>
</div>

<!-- Textarea -->
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Image 4 </label>
<div class="col-md-6">

<input class="form-control" id="imageFour" placeholder="Image 4 URL"  name="textinput"></input>
</div>
</div>
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Image 5</label>
<div class="col-md-6">

<input class="form-control" id="imageFive" placeholder="Image 5 URL"  name="textinput"></input>
</div>
</div>

<!-- Textarea -->
<div class="form-group">
<label class="col-md-4 control-label" for="textarea">Image 6</label>
<div class="col-md-6">
<input class="form-control" id="imageSix" placeholder="Image 6 URL"  name="textinput"></input>
</div>
</div>


<input type="button" value="Add Images" class ="defaultClass" id ="addImagesButton" />
</form>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
